.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
/* .flex-item{
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row;
} */
.flex-two{
  justify-content: space-between;
  border: teal 20px solid;
}

  img{
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
    border: ridge orangered 5px;
    display: inline;
  }

  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-property: background-color, transform, color, font-family;
    transition-duration: 4s;
  }
  
  h1:hover{
    font-family: fantasy;
    background-color: fuchsia;
    transform: rotateX(30deg);
    color: white;
  }

  
  