  body{  
  margin: 0;
  padding: 0;
  background: #ff0033;
  font-family: sans-serif;
}  
.box{
  position: absolute;
  top: 50%;
  left: 25%;
right: 25%;
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
display: flex;
}

.box .imagebx{
width: 150px;
}
.box .content{
  margin-left: 100px;
  padding-left: 20px;
  text-align: center;
}



   img{
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
    border: ridge orangered 5px;
    
  } 

  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-property: background-color, transform, color, font-family;
    transition-duration: 4s;
  }
  
  h1:hover{
    font-family: fantasy;
    background-color: fuchsia;
    transform: rotateX(30deg);
    color: white;
  }

  
  